.sec_intro {
	margin-bottom: vw-pc(50);
	.section_container {
		padding: 0 vw-pc(60);
	}
	.title_box {
		display: flex;
		align-items: center;
		margin-bottom: vw-pc(35);
		p {
			margin-right: vw-pc(20);
			font-size: vw-pc(26);
			line-height: vw-pc(36);
		}
		.common_button {
			width: vw-pc(158);
			height: vw-pc(38);
			font-size: vw-pc(18);
			line-height: vw-pc(32);
			border-radius: vw-pc(19);
			letter-spacing: vw-pc(-1);
		}
	}

    // swiper setting
	.swiper-slide {
		width: vw-pc(536);
		&:not(:last-child) {margin-right: vw-pc(24);}
		.slide_list {
			> picture {
				margin-bottom: vw-pc(25);
			}
			.contents_area {
				display: flex;
				> picture {
					margin-right: vw-pc(20);
				}
				.txt_box {
					.main_txt {
						margin-bottom: vw-pc(10);
						font-size: vw-pc(24);
						line-height: vw-pc(26);
						letter-spacing: vw-pc(-1);
						font-weight: 700;
					}
					.sub_txt {
						margin-bottom: vw-pc(20);
						font-size: vw-pc(16);
						line-height: vw-pc(26);
						letter-spacing: vw-pc(-1);
					}
					.add_txt {
						font-size: vw-pc(14);
						line-height: vw-pc(22);
						letter-spacing: vw-pc(-2.5);
						color: #717171;
					}
				}
			}
		}
		&:nth-child(1) .contents_area picture {
			width: vw-pc(32);
		}
		&:nth-child(2) .contents_area picture {
			width: vw-pc(15);
		}
		&:nth-child(3) .contents_area picture {
			width: vw-pc(22);
		}
		&:nth-child(4) .contents_area picture {
			width: vw-pc(55);
		}
		&:nth-child(5) .contents_area picture {
			width: vw-pc(15);
		}
		&:nth-child(6) .contents_area picture {
			width: vw-pc(44);
		}
		&:nth-child(7) .contents_area picture {
			width: vw-pc(50);
		}
	}

    // swiper navigation set
    .swiper-button-prev, .swiper-button-next {
        color: #000; top: 40%; 
    }
    .swiper-button-prev {
        left: 13%;
    }
    .swiper-button-next {
        right: 13%;
    }
    .swiper-button-prev:after, .swiper-button-next::after {
        font-size: vw-pc(24); font-weight: 700;
    }
}