.sec_photo {
    .section_container {
        padding: 0 vw-pc(60);
        .aling_box{
            display: flex;
            justify-content: space-between;
    
            // 왼쪽영역
            .info_area {
                display: flex;
                .txt_box {
                    .title_box {
                        margin-bottom: vw-pc(10);
                        .main_txt {
                            margin-bottom: vw-pc(10);
                            font-size: vw-pc(42);
                            letter-spacing: vw-pc(-2);
                            font-weight: 700;
                        }
                        .sub_txt {
                            font-size: vw-pc(16);
                            line-height: vw-pc(32);
                            letter-spacing: vw-pc(-1);
                        }
                    }
                    dl {
                        display: flex; 
                        align-items: center;
                        dt {
                            width: vw-pc(100);
                            font-size: vw-pc(14);
                            line-height: vw-pc(30);
                            letter-spacing: vw-pc(-1);
                            font-weight: 700;
                        }
                        dd {
                            font-size: vw-pc(14);
                            line-height: vw-pc(30);
                            letter-spacing: vw-pc(-1);
                            &:last-child {line-height: vw-pc(20);}
                        }
                    }
                    .btn_box {
                        display: flex; 
                        align-items: center;
                        margin-top: vw-pc(25);
                        .common_button {
                            margin-right: vw-pc(40);
                            width: vw-pc(106);
                            height: vw-pc(38);
                            border-radius: vw-pc(19);
                            font-size: vw-pc(16);
                            line-height: vw-pc(36);
                            letter-spacing: vw-pc(-1);
                        }
                        .toggle_btn {
                            font-size: vw-pc(16);
                            line-height: vw-pc(29);
                            letter-spacing: vw-pc(-1);
                            font-weight: 700;
                            border-bottom: vw-pc(1) solid #000;
                        }
                        .toggle_contents {
                            p {}
                        }
                    }
                }
                > picture {
                    width: vw-pc(187);
                    margin-top: vw-pc(40);
                }
            }
    
            // 오른쪽영역
            .way_area {
                .small_title {
                    position: relative;
                    margin-bottom: vw-pc(35);
                    font-size: vw-pc(18);
                    line-height: vw-pc(35);
                    letter-spacing: vw-pc(-1);
                    font-weight: 700;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        width: vw-pc(500);
                        height: vw-pc(1);
                        background-color: #000;
                    }
                }
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        width: vw-pc(200);
                        height: vw-pc(305);
                        &:not(:last-child) {
                            margin-right: vw-pc(20);
                        }
                        border: vw-pc(1) solid #ddd;
                        border-radius: vw-pc(10);
                        box-shadow: 2px 2px 8px 0 #ddd;
                        text-align: center;
                        picture {
                            margin-bottom: vw-pc(10);
                        }
                        .contents_txt {
                            font-size: vw-pc(16);
                            line-height: vw-pc(28);
                            letter-spacing: vw-pc(-1);
                        }
                        .line_txt {
                            margin-top: vw-pc(5);
                            font-size: vw-pc(16);
                            line-height: vw-pc(28);
                            letter-spacing: vw-pc(-1);
                            border-bottom: vw-pc(1) solid #000;
                            font-weight: 700;
                        }
                        .apply_txt {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: vw-pc(111);
                            height: vw-pc(34);
                            margin-top: vw-pc(30);
                            color: #fff;
                            background-color: #000;
                            font-size: vw-pc(16);
                            line-height: vw-pc(28);
                            letter-spacing: vw-pc(-1);
                            border-radius: vw-pc(17);
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    
}