body,
html {
  padding: 0;
  margin: 0;
}
picture {
  display: block;
  width: 100%;
  img,
  source {
    display: block;
    width: 100%;
  }
}
a {
  text-decoration: none;
  color: #000;
}
em {
  font-style: normal;
}
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  appearance: none;
  border: 0;
  background: none;
  padding: 0;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
.m_show {
  display: none;
}
.m_hide {
  display: block;
}

#fridge {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  background-color: #fff;
  font-family: "SamsungOne";
  font-weight: 400;
  line-height: 1;

  .en_b {
    font-family: "SamsungSharpSans";
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1;
  }

  .en_m {
    font-family: "SamsungSharpSans";
    font-weight: medium;
    letter-spacing: 0;
    line-height: 1;
  }

  .section {
    position: relative;
    width: 100%;
    .section_container {
      box-sizing: border-box;
      width: vw-pc(1440);
      margin: auto;
    }
  }

  .toggle_arrow {
    display: inline-block;
    position: relative;
    padding-right: vw-pc(15);
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: vw-pc(10);
      height: vw-pc(6);
      background-image: url("/icon_arrow_down_pc.png");
      background-size: contain;
      background-position: 0 0;
    }
    &.open::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .common_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }
  .common_button.black_bg {
    color: #fff;
    background-color: #000;
  }
  .common_button.white_bg {
    color: #000;
    background-color: #fff;
  }

}

@media (max-width: 768px) {
  .m_show {
    display: block;
  }
  .m_hide {
    display: none;
  }
  #fridge {
    .section {
      .section_container {
        width: 100%;
      }
    }

    .toggle_arrow {
      padding-right: vw-mo(15);
      &::after {
        width: vw-mo(10);
        height: vw-mo(6);
      }
    }
  }
}
